.profile {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.profile img {
  width: 400px;
}

.outer-div {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 25px 15px;
}

.inner-div {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

.inner-div h3 {
  text-align: right;
  color: white;
  padding-right: 25px;
}

.inner-div p {
  color: white;
}

.profile-form {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 25px 0 0;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}

.form-label {
  padding: 5px 15px;
  margin-bottom: 25px;
}

.form-text {
  border: none;
  border-radius: 25px;
  padding: 5px 15px;
  margin-right: 15px;
  width: 60%;
}

.form-button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin: 25px 0;
}

@media (max-width: 750px) {
  .profile img {
    width: 300px;
  }
  .inner-div h3 {
    font-size: 12px;
  }
  .inner-div p {
    font-size: 12px;
  }
}
