.photoflex {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  height: 80%;
  margin: auto;
}

.photoflex-item,
.projects {
  width: 33%;
  display: flex;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  height: 33%;
}

.photoflex-item img {
  padding: 10% 5%;
  width: 80%;
  object-fit: contain;
}

.projects img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .photoflex {
    width: 100%;
  }
}
