.header {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  width: 80%;
  padding-left: 15%;
}

.header_img img {
  width: 20vw;
  min-width: 200px;
  transition: 0.2s;
  object-fit: contain;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  border-radius: 50%;
}

.header_img .active {
  border: 2px solid transparent;
  border-radius: 50%;
  border-image: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045) 1;
  border-image-slice: 1;

  padding: 2px;
}

.header-contents {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1vw 0 1vw 7vw;
  width: 100%;
  animation: fadeIn 3s;
}

.header-contents h2 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: max(3vw, 26px);
}

.header-btn-span {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-btn-span .header-id {
  cursor: pointer;
  border: none;
  color: white;
  font-weight: 500;
  padding: 0.3vw 1.5vw;
  margin: 1vw 0;
  background-color: rgba(84, 83, 83, 0.5);
  font-size: max(1vw, 13px);
  border-radius: 20px;
}

.header-btn-span button {
  border: none;
  color: white;
  font-weight: 500;
  padding: 0.6vw 2.3vw;
  margin: 1vw;
  background-color: #545353;
  font-size: max(1vw, 13px);
  border-radius: 10px;
}

.header-second-div h1 {
  color: #5a5959;
  font-size: max(2.2vw, 24px);
  font-weight: 500;
  margin-top: 2vw;
}

.header-second-div h1 span {
  color: white;
}

.header-bio {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 2vw;
}

.header-bio .header-bio-text {
  max-width: 100%;
  color: white;
  text-align: left;
  font-size: max(1vw, 14px);
}

.header-div-img {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header {
    padding-left: 0;
  }
  .header_img img {
    min-width: 150px;
  }
  .header-contents {
    max-width: 65%;
  }
  .header-btn-span .header-id {
    font-size: 10px;
  }
  .header-contents h2 {
    font-size: 20px;
  }
  .header-second-div h1 {
    font-size: 17px;
  }
  .header-contents button {
    padding: 1vw 3vw;
    font-size: 12px;
  }
  .header-btn-span {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-btn-span button {
    margin: 1vw 0;
  }
}
