.navbar {
  width: 100vw;
  min-height: 40px;
  height: 3vw;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.inner-navbar {
  display: flex;
}

.inner-navbar p {
  font-size: max(1vw, 20px);
  color: white;
}

.inner-navbar img {
  width: 1.5vw;
  min-width: 20px;
}
