.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.overlay-content {
  position: relative;
  background-color: white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.overlay-content .overlay-img {
  height: 500px;
  padding: 5%;
}

.close-div {
  position: absolute;
  right: 2%;
  top: 2%;
}

.cross-icon {
  width: 30px;
  height: 30px;
}

.date-div {
  padding: 0 15px 3%;
}

.star-div {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 25px;
}

.star-img {
  width: 40px;
  padding: 0 4px;
}

.text-div {
  background-color: black;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.text-date-div {
  background-color: black;
  width: 100%;
}

.link-div {
  padding: 15px;
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.link-div a {
  color: rgb(230, 86, 115);
  font-size: 18px;
  text-decoration: underline;
  font-weight: 700;
}

.text-cross-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.text-date-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.text-date-div p {
  color: white;
  font-size: 16px;
}

.text-cross-div h1 {
  color: white;
  font-size: 28px;
  padding: 10px 0;
  width: 80%;
}

.text-div ul {
  padding: 15px 30px;
}

.text-div ul li {
  color: white;
  font-size: 16px;
  padding: 4px 0;
}

@media (max-width: 900px) {
  .overlay-content {
    width: 80%;
  }
  .overlay-content .overlay-img {
    height: 200px;
  }
  .text-div ul li {
    font-size: 14px;
  }
  .text-div ul {
    height: 100px;
    overflow: scroll;
    margin: 25px 0;
  }
  .text-cross-div {
    width: 100%;
  }
  .text-date-div p {
    font-size: 12px;
  }
  .text-cross-div h1 {
    font-size: 18px;
  }
  .star-img {
  width: 30px;
}
}
